<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
</head>
<body>
    <div page-content>
        <div post-page>
            <div post-details>
                <div post-image> <img src={Image} width="280" height="320" alt=" "></div>
            </div>
            <div post-details-info>
                <h4 class="post"> {dailyPost} </h4>
            </div>
            <button class="btn-copy">Copy Text</button>
            <select name="post-opinion" id="post-opinion">
                <option value disabled selected hidden>Your Opinion</option>
                <option value="Posted">Posted</option>
                <option value="not-posted">I don't like this</option>
                <option value="add-more">Add more content</option>
            </select>
            <button class="btn-delete">Delete Post</button>
        </div>

      <br>  <a href="/posts">Return to Posts Catalogue</a>


    </div>
</body>
</html>